{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  },
  "globals": {
    "describe": true,
    "before": true,
    "after": true,
    "it": true
  }
}